# Pandas

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [22]:
df = pd.read_csv('wheather_data_cvs.csv')

In [23]:
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  02/01/2017           35          7  Sunny
2  03/01/2017           28          2   Snow
3  04/01/2017           24          7   Snow
4  05/01/2017           32          4   Rain
5  06/01/2017           32          2  Sunny

In [24]:
df.head()

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  02/01/2017           35          7  Sunny
2  03/01/2017           28          2   Snow
3  04/01/2017           24          7   Snow
4  05/01/2017           32          4   Rain

In [25]:
df.head(2)

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  02/01/2017           35          7  Sunny

In [26]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [28]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [29]:
type(df)

pandas.core.frame.DataFrame

In [30]:
type(df['event'])

pandas.core.series.Series

In [31]:
df

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  02/01/2017           35          7  Sunny
2  03/01/2017           28          2   Snow
3  04/01/2017           24          7   Snow
4  05/01/2017           32          4   Rain
5  06/01/2017           32          2  Sunny

In [37]:
df[['event', 'day', 'temperature']]
# df['event', 'day', 'temperature']

   event         day  temperature
0   Rain  01/01/2017           32
1  Sunny  02/01/2017           35
2   Snow  03/01/2017           28
3   Snow  04/01/2017           24
4   Rain  05/01/2017           32
5  Sunny  06/01/2017           32

In [38]:
df['temperature'].max()

35

In [39]:
df['temperature'].min()

24

In [41]:
df['temperature'].mean()

30.5

In [42]:
df['temperature'].std()

3.8858718455450894

In [44]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [48]:
df[df.temperature>=32]

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  02/01/2017           35          7  Sunny
4  05/01/2017           32          4   Rain
5  06/01/2017           32          2  Sunny

In [53]:
df[df['temperature']>=33]

          day  temperature  windspeed  event
1  02/01/2017           35          7  Sunny

In [57]:
df[df.temperature==df['temperature'].max()]

          day  temperature  windspeed  event
1  02/01/2017           35          7  Sunny

In [66]:
df.index

Index(['01/01/2017', '02/01/2017', '03/01/2017', '04/01/2017', '05/01/2017',
       '06/01/2017'],
      dtype='object', name='day')

In [67]:
df.set_index('day', inplace=True)

KeyError: "None of ['day'] are in the columns"

In [68]:
df

            temperature  windspeed  event
day
01/01/2017           32          6   Rain
02/01/2017           35          7  Sunny
03/01/2017           28          2   Snow
04/01/2017           24          7   Snow
05/01/2017           32          4   Rain
06/01/2017           32          2  Sunny

In [62]:
df.loc['01/01/2017']

temperature      32
windspeed         6
event          Rain
Name: 01/01/2017, dtype: object

In [69]:
df.loc['Snow']

KeyError: 'Snow'

In [7]:
wheather_data = {
    'day':['01/01/2017', '02/01/2017','03/01/2017'],
    'temperatur' : [32,35,28],
    'windspeed' : [6,7,2],
    'event' : ['Rain', 'Sunny', 'Snow']
}

In [8]:
df = pd.DataFrame(wheather_data)

In [9]:
df

          day  temperatur  windspeed  event
0  01/01/2017          32          6   Rain
1  02/01/2017          35          7  Sunny
2  03/01/2017          28          2   Snow

In [11]:
df.shape

(3, 4)

In [17]:
df.head(2)

          day  temperatur  windspeed  event
0  01/01/2017          32          6   Rain
1  02/01/2017          35          7  Sunny

In [18]:
df.tail()

          day  temperatur  windspeed  event
0  01/01/2017          32          6   Rain
1  02/01/2017          35          7  Sunny
2  03/01/2017          28          2   Snow

In [19]:
df.tail(2)

          day  temperatur  windspeed  event
1  02/01/2017          35          7  Sunny
2  03/01/2017          28          2   Snow

In [20]:
df.tail(1)

          day  temperatur  windspeed event
2  03/01/2017          28          2  Snow

In [21]:
df[1:3]

          day  temperatur  windspeed  event
1  02/01/2017          35          7  Sunny
2  03/01/2017          28          2   Snow